# Entorno
NODE_ENV=development
PORT=3001

# Base de datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=your_db
DB_USER=your_user
DB_PASSWORD=your_password

# JWT
JWT_SECRET=your_secret
JWT_EXPIRES=30m

# SMTP
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email
SMTP_PASS=your_password

MAIL_FROM="Your App <email@domain.com>"
ADMIN_NOTIFY_EMAIL=admin@domain.com